<!doctype html>
<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <!-- 구글폰트 -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding:wght@700&family=Noto+Sans+KR:wght@300&display=swap"
              rel="stylesheet">

        <title>재니네 농장🌳</title>
        <style>
            * {
                font-family: 'Noto Sans KR', sans-serif;
            }

            .slide {
                height: 320px;
                width: 510px;
                margin: 10px auto;
            }

            .scale {
                font-size: 23px;
                text-align: left;
            }

            .wrap {

                width: 520px;
                margin: 30px AUTO;
            }

            .orders {

                width: 580px;
                margin: 30px AUTO;
                font-size: 14px;
            }
        </style>
        <script>

            $(document).ready(function () {
                $('#orders-box').html('');
                showExchange();
                showOrders();
            });

            function formCheck() {
                let fruit = $('#fruitSelect').val();
                let name = $('#inputPerson').val();
                let num1 = $('#inputNum1').val();
                let num2 = $('#inputNum2').val();
                let num3 = $('#inputNum3').val();
                let address = $('#inputAddress').val();
                let memo = $('#inputMemo').val();

                if (fruit == 'none') {
                    alert('감귤을 골라주세요🍊')
                    return
                } else if (name == '') {
                    alert('수령인을 적어주세요👩‍🌾')
                    return
                } else if (num1 == '') {
                    alert('번호를 적어주세요👩‍🌾')
                    return
                } else if (num2 == '') {
                    alert('번호를 적어주세요👩‍🌾')
                    return
                } else if (num3 == '') {
                    alert('번호를 적어주세요👩‍🌾')
                    return
                } else if (address == '') {
                    alert('주소를 적어주세요👩‍🌾')
                    return
                } else {
                    alert('주문이 성공적으로 접수되었습니다!👏')

                }

                $.ajax({
                    type: "POST",
                    url: "/order",
                    data: {fruit: fruit, name: name, num1: num1, num2: num2, num3: num3, address: address, memo: memo},
                    success: function (response) { // 성공하면
                        if (response["result"] == "success") {
                            window.location.reload();
                        }
                    }
                })
            }

            function showOrders() {
                $.ajax({
                    type: "GET",
                    url: "/order",
                    data: {},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            let orders = response["orders"];
                            console.log(orders);
                            for (let i = 0; i < orders.length; i++) {
                                makeOrderRow(orders[i]["fruit"], orders[i]["name"], orders[i]["num1"], orders[i]["num2"], orders[i]["num3"], orders[i]["address"], orders[i]["memo"])
                            }
                        }
                    }
                })
            }

            function makeOrderRow(fruit, name, num1, num2, num3, address, memo) {
                let tempHtml = `<tr>\
                                   <td>${name}</td>
                                   <td>${fruit}</td>
                                   <td>${num1}-${num2}-${num3}</td>
                                   <td>${address}</td>
                                   <td>${memo}</td>
                                </tr>`;
                console.log(tempHtml);

                $('#orders-box').append(tempHtml);
            }

            function showExchange() {
                $.ajax({
                    type: "GET",
                    url: "https://api.manana.kr/exchange/rate.json",
                    data: {},
                    success: function (response) {
                        let nowRate = response[1]['rate'];
                        $('#rate-box').text(nowRate)
                    }
                })
            }
        </script>
    </head>
    <body>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100"
                         src="https://cdn.thenurse.co.kr/news/photo/202003/21334_22749_3356.jpg"
                         alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                         src="https://www.visitehimejapan.com/image/rendering/issue_paragraph_image/3/trim.1024/3/2?v=cf275b3d9c89f5de395c2025d47460dc66baaab5"
                         alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                         src="https://images.unsplash.com/photo-1579169825453-8d4b4653cc2c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
                         alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="wrap">
            <div class="description">
                <h3><strong>유기농 서귀포 감귤 3kg <span class="badge badge-danger" style="font-size: 12px">BEST</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </strong><span class="scale"><strong>12,900 원</strong></span>
                </h3>
                <p style="font-size:16px; margin:10px auto;">이불 밖은 위험해! 🍊고당도 귤🍊 까먹으면서 안전하게 겨울 보내세요!🧚‍♀
                    <br>인위적으로 후숙하지 않고 주문 즉시 당일수확하기에 더욱 신선합니다.
                    <br> 유기농 감귤은 겉은 거칠어 보여도 껍질까지 안심하고 드실 수 있답니다.</p>
                <select class="form-control" id="fruitSelect"
                        style="width: 200px;font-size:15px;">
                    <option value="none">감귤 선택</option>
                    <option value="3kg">3kg</option>
                    <option value="9kg">9kg</option>
                    <option value="12kg">12kg</option>
                </select>
                <br>
                <p style="font-size: 15px">달러-원 환율: <span id="rate-box"> </span>원</p>
                <hr>
            </div>
            <div class="options">
                <div class="form-group row">

                    <label for="inputPerson" class="col-sm-2 col-form-label">수령인*</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputPerson" style="font-size:15px;"
                               placeholder="50자 이내로 입력하세요.">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputNum1" class="col-sm-2 col-form-label">연락처*</label>
                    <div class="col-2">
                        <input type="text" class="form-control" id="inputNum1" style="font-size:15px;"
                               placeholder="010">
                    </div>
                    <p>-</p>
                    <div class="col-2">
                        <input type="text" class="form-control" id="inputNum2" style="font-size:15px;"
                               placeholder="1234">
                    </div>
                    <p>-</p>
                    <div class="col-2">
                        <input type="text" class="form-control" id="inputNum3" style="font-size:15px;"
                               placeholder="5678">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputAddress" class="col-sm-2 col-form-label">주소*</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputAddress">
                    </div>

                </div>
                <div class="form-group row">
                    <label for="inputMemo" class="col-sm-2 col-form-label">배송메모</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputMemo">
                    </div>

                </div>
                <br>
                <button onclick="formCheck()" type="button" class="btn btn-warning btn-lg btn-block"
                        style="font-size: 18px"><strong>주문하기</strong>
                </button>
            </div>
        </div>

        <div class="orders">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">고객명</th>
                    <th scope="col">주문상품</th>
                    <th scope="col">연락처</th>
                    <th scope="col">주소</th>
                    <th scope="col">배송메모</th>
                </tr>
                </thead>
                <tbody id="orders-box">

                </tbody>
            </table>
        </div>
    </body>
</html>